<div class="guest-banner">
  <span><em><%= t("nav.guest_banner") %></em></span>
  <span class="guest-banner-hint mono">
    <%= link_to t("nav.sign_up"), new_user_registration_path, class: "underline decoration-1 underline-offset-4 hover:text-[var(--color-accent)]" %>
  </span>
</div>
